@charset "UTF-8";

 html{
 background-image: repeating-linear-gradient(to bottom, #FBF8EF, #FBF8EF 3px, transparent 0, transparent 64px),
 repeating-linear-gradient(to right,#FBF8EF, #FBF8EF 3px, transparent 0, transparent 64px);
  }

body{
	margin: 0px;
	padding: 0px;
}

/* ハンバーガーメニュー*/
.cp_menu ol, ul {
	list-style: none;
}

.cp_cont {
	height: 65vh;
	position: absolute;
	z-index: 10;
}

.cp_offcm01 {
	position: fixed;
	display: inline-block;
}
/* menu */
.cp_offcm01 .cp_menu { /* ハンバーガー背景 */
	position: fixed;
	top: 0;
	right: 100vw;
	width: 250px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38, .52, .23, .99);
	transition-timing-function: cubic-bezier(.38, .52, .23, .99);
	background-color: #7DB6BB;
}

.cp_offcm01 .cp_menu ul {
	margin: 50;
	padding: 0;
}

.cp_offcm01 .cp_menu li {
	list-style: none;
}

.cp_offcm01 .cp_menu li a { /* ハンバーガー文字 */
	display: block;
	margin-left:40px;
	padding: 20px; /* 項目の縦幅 */
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	border-bottom: 2px solid #ffffff;
}

.cp_offcm01 .cp_menu li input[type=submit] {
	width: 100%;
	height: 85px;
	border: none;
	border-bottom: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	padding-left: 30px;
	cursor: pointer;
}

.cp_offcm01 #cp_toggle01 {
	position: absolute;
	display: none;
	opacity: 0;
}

.cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
	-webkit-transform: translateX(18vw);
	transform: translateX(18vw);
}
/* menu toggle */
.cp_offcm01 #cp_toggle01 ~ label {
	display: block;
	padding: 0.5em;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61, -0.38, .37, 1.27);
	transition-timing-function: cubic-bezier(.61, -0.38, .37, 1.27);
	text-align: center;
	color: #333333;
	background-image: url(../img/sidemenu_icon.png);
	background-repeat: no-repeat;
	width: 55px;
	height: 55px;
	background-position: -2px 8px;
	background-color: #EFCF24;
	background-size: 109%;
	border-radius: 10px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.cp_offcm01 #cp_toggle01:checked ~ label {
	-webkit-transform: translateX(250px);
	transform: translateX(250px);
}



/* マイページの部分に色を付ける */
.mypage {
	background: #EBD61A;
}

/* コンテキストメニューの設定 */
.popup {
	width: 150px;
	height: 60px;
	background: #7DB6BB;
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 35px;
	left: 115px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.popup button {
	border: inherit;
	background-color: inherit;
	cursor: pointer;
	width: 100%;
	height: 100%;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
}

.context_menu {
	width: 150px;
	font: 25px sans-serif;
	font-weight: bold;
	position: relative;
	color: white;
	list-style: none;
	text-align: center;
	top: 10px
}

#logout{
	background-color: yellow;
}







