@charset "UTF-8";

h1{
	margin-left: 280px;
	padding: 0.25em 0.5em;/*上下 左右の余白*/
  	color: #F19E6F;/*文字色*/
  	font-size:  50px;
  	background: transparent;/*背景透明に*/
 	border-left: solid 5px #EBD61A;/*左線*/
}

.stamps{
	width: 70%;
	margin: auto;
	border-collapse:  collapse;
}
.stamps th{
	text-align: center;
}
.items,.items_content{
	padding: 10px;
	background-color:#F19E6F;
}

.data{
	text-align: center;
	background-color: #ffdbc9;
	border-bottom: solid 1px #DEB887;
}
.items_content{
	width: 500px;
}
.content_data{
	background-color: #ffdbc9;
	border-bottom: solid 1px #DEB887;
}
img.stamp{
	width: 70px;
	height: 70px;
}