@charset "UTF-8";
body {
	max-width: 800px;
    margin: auto;
}

.check {
	display: none;
}

.stamp_img {
	width: 100px;
}

 .check:checked  + label img {
      border: 3px solid black;
      border-radius: 50px;
    }
