@charset "UTF-8";

/* httpの先でcss作られているらしいのでいったん保留 */

/* もらったもの */
/*
background-image:repeating-linear-gradient(to bottom, #FBF8EF, #FBF8EF 3px, transparent 0, transparent 64px);
 repeating-linear-gradient:(to right,#FBF8EF, #FBF8EF 3px, transparent 0, transparent 64px);
 */


/* テーマ */
 html{
	background-color:#fff3df;
	width: 100%;
	height: calc(100% - 60px)
}


/* 左右に余白を付ける */
#main_theme{
	/*background-color:#fff3df;*/
	width: 100%;
	height: 100%;
}

/* グラフの見た目 */
#foo-table {
	margin:auto;
	width: calc(100% - 300px);
}