@charset "UTF-8";
body{
	background-image: repeating-linear-gradient(to bottom, #FBF8EF, #FBF8EF 3px, transparent 0, transparent 64px), repeating-linear-gradient(to right,#FBF8EF, #FBF8EF 3px, transparent 0, transparent 64px);
	background-color: #fff3df;
}
/* 評価表 */
.evaList{
	width: 700px;
	height: 400px;
}
.eva_items{
	width: 750px;
	height: 50px;
	background-color:#FF944D;
	text-align: center;
	padding: 0 15px 0 15px;
}

.eva_items1{
	width: 200px;
	padding: 0 12px 0 12px;
}
.eva_data{
	background-color:#ffe3d0;
	border-bottom: solid 1px #FF944D;
	font-size: 16px;
}

.radar_graph{
	padding-left: 30px;
}

.tab{
	display: flex;
	text-align: center;
}

/* body{
	background-color: red;
}
 */
