@charset "UTF-8";
/*プロフィールとタブの画面*/
html{
	background-color: #fff3df;
}
/* プロフィール表示 */
/* table{
	margin: 0 auto 15px auto;
	border: 2px #F18E3D solid;  枠線
}
 */
.a{
	display: block;
}

.profile{
	margin: 10px auto 15px auto;
	border: 2px #F18E3D solid;  /*枠線*/
	padding: 10px;
	/* background-color: #fff;  プロフィールの背景 */
	height: 50%;				/* 高さ？ */
	width: 60%;					/* 幅 */
}

.item{					/* プロフィールの項目 */
	font-size: 13pt;
	font-weight: bold;
}

.name{					/* 名前だけ文字大きくした */
	font-weight: bold;
	font-size: 30px;
}

.gender{				/* 性別表示の位置 */
	vertical-align: top;
}

/* 一覧に戻るボタン */
.back{
	font-size: 14pt;
	display: inline-block;
	padding: 3px 18px;
	background: #F4AB3F;
	border: 2px solid #F4AB3F;
	text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: #444444;
}

/* 編集ボタン */
.edit_button{
	text-align: right;
}

.edit{
	font-size: 15pt;
	color: #444444;
	display: inline-block;
	padding: 3px 20px;
	background: #76D8BE;
	border: 2px solid #76D8BE;
}

/*タブ切り替え全体のスタイル*/
.tabs {
	margin-top: 50px;
	/*background-color: #fff;*/
 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
}

/*タブのスタイル*/
/* きもちグラフ */
.tab_item1 {
	width: calc(100%/ 5);
	height: 50px;
	border-bottom: 3px solid #5674B5;
	background-color: #fffacd;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #8D2828;
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	transition: all 0.2s ease;
	margin: 0 0 0 0;
}

/* きもちスタンプ */
.tab_item2 {
	width: calc(100%/ 5);
	height: 50px;
	border-bottom: 3px solid #92C9FE;
	background-color: #fffacd;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #8D2828;;
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	transition: all 0.2s ease;
	margin: 0 0 0 0;
}

/* メッセージ */
.tab_item3 {
	width: calc(100%/ 5);
	height: 50px;
	border-bottom: 3px solid #C8EA69;
	background-color: #fffacd;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #8D2828;;
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	transition: all 0.2s ease;
	margin: 0 0 0 0;
}

/* メモ */
.tab_item4 {
	width: calc(100%/ 5);
	height: 50px;
	border-bottom: 3px solid #FFC14A;
	background-color: #fffacd;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #8D2828;;
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	transition: all 0.2s ease;
	margin: 0 0 0 0;
}

/* 評価 */
.tab_item5 {
	width: calc(100%/ 5);
	height: 50px;
	border-bottom: 3px solid #FF944D;
	background-color: #fffacd;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #8D2828;;
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	transition: all 0.2s ease;
	margin: 0 0 0 0;
}
.tab_item1:hover {
	opacity: 0.75;
}

.tab_item2:hover {
	opacity: 0.75;
}

.tab_item3:hover {
	opacity: 0.75;
}

.tab_item4:hover {
	opacity: 0.75;
}

.tab_item5:hover {
	opacity: 0.75;
}
/*ラジオボタンを全て消す*/
input[name="tab_item"] {
	display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
	display: none;
	padding: 40px 40px 40px;
	clear: both;
	overflow: hidden;
	background-image: url("/miemo/img/white_bg.jpg");
	background-size: cover;
/* 	background-color: rgba(255, 255, 255,0.8);
	background-image: repeating-linear-gradient(to bottom, #FBF8EF, #FBF8EF 3px, transparent 0, transparent 64px), repeating-linear-gradient(to right,#FBF8EF, #FBF8EF 3px, transparent 0, transparent 64px);
	background-color: #fff3df;
 */}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content, #aaa:checked ~ #aaa_content,
	#bbb:checked ~ #bbb_content, #ccc:checked ~ #ccc_content, #ddd:checked ~ #ddd_content{
	display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked+.tab_item1 {
	background-color: #5674B5;
	color: #fff;
}

.tabs input:checked+.tab_item2 {
	background-color: #92C9FE;
	color: #fff;
}

.tabs input:checked+.tab_item3 {
	background-color: #C8EA69;
	color: #fff;
}

.tabs input:checked+.tab_item4 {
	background-color: #FFC14A;
	color: #fff;
}

.tabs input:checked+.tab_item5 {
	background-color: #FF944D;
	color: #fff;
}