@charset "UTF-8";
	.animated {
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	}
	@-webkit-keyframes slideDown {
	  0% {
	    opacity: 1;
	    -webkit-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }
	  100% {
	    opacity: 1;
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	  }
	}
	@keyframes slideDown {
	  0% {
	    opacity: 1;
	    -webkit-transform: translateY(-20px);
	    transform: translateY(-20px);
	  }
	  100% {
	    opacity: 1;
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	  }
	}
	.slide-down {
	  -webkit-animation-name: slideDown;
	  animation-name: slideDown;
	}
	@-webkit-keyframes slideUp {
	  0% {
	    -webkit-transform: translateY(20px);
	    transform: translateY(20px);
	  }
	  100% {
	    -webkit-transform: translateY(0px);
	    transform: translateY(0px);
	  }
	}
	@keyframes slideUp {
	  0% {
	    -webkit-transform: translateY(20px);
	    transform: translateY(20px);
	  }
	  100% {
	    -webkit-transform: translateY(0px);
	    transform: translateY(0px);
	  }
	}
	.slide-up {
	  -webkit-animation-name: slideUp;
	  animation-name: slideUp;
	}
	.content-wrap {
	  height: 120px;
	  overflow: hidden;
	  position: relative;
	  margin: 0;
	}
	.close-btn, .more-btn {
	  display: block;
	  width: 100%;
	  padding: 80px 0 0;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  text-align: center;
	  background: -moz-linear-gradient(
	    top,
	    rgba(255, 255, 255, 0) 0%,
	    rgba(255, 255, 255, 1) 60%
	  );
	  background: -webkit-linear-gradient(
	    top,
	    rgba(#fad9a8, 0) 0%,
	    rgba(#fad9a8, 1) 60%
	  );
	  background: linear-gradient(
	    to bottom,
	    rgba(#fad9a8, 0) 0%,
	    rgba(#fad9a8, 1) 60%
	  );
	  filter: progid:DXImageTransform.Microsoft.gradient(
	      startColorstr='#00ffffff',
	      endColorstr='#ffffff',
	      GradientType=0
	    );
	}
	.close-btn {
	  background: none;
	}
	.slide-up {
	  height: 120px;
	  padding-bottom: 0;
	  overflow: hidden;
	}
	.slide-down {
	  height: auto;
	  overflow: visible;
	  padding-bottom: 50px;
	}
	.more-btn p {
	  display: inline-block;
	  cursor: pointer;
	  padding: 5px 20px;
	  width: 80%;
	  border-radius: 20px;
	}
	.close-btn {
	  padding:0;
	}
	.close-btn p {
	  background: #aaa;
	}
	.tw{

		width:400px;
	}
	#foo-table{
		width: 70%;
		margin: auto;
		border-collapse:  collapse;

	}
	.text {
 		 line-height: 1.5;
	}

.n-tablehead,.n-tabledata{
	padding: 10px;
}
.n-tablehead{
	background-color:#F4AB3F;
}
.data{
	text-align: center
}
.content{
	width: 500px;
}
.n-tabledata{
	background-color: #fad9a8;
	border-bottom: solid 1px #DEB887;
}
.html{
	font-family: Noto Sans CJK JP;
}
.nDelete {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 15px;   /* 余白       */
  background    : #ffbf00;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 0.5em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 1px 1px #666666;  /* 影の設定 */
  border        : 2px solid #ffbf00;    /* 枠の指定 */
  vertical-align:middle;
}
.nDelete:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #ffbf00;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}