@charset "UTF-8";

.stamps{
	width: 70%;
	margin: auto;
	border-collapse:  collapse;
}
.stamps th{
	text-align: center;
}
.items,.items_content{
	padding: 10px;
	background-color:#F19E6F;
}

.data{
	text-align: center;
	background-color: #ffdbc9;
	border-bottom: solid 1px #DEB887;
}
.items_content{
	width: 500px;
}
.content_data{
	background-color: #ffdbc9;
	border-bottom: solid 1px #DEB887;
}
img.stamp{
	width: 70px;
	height: 70px;
}
.stamp_table{
	margin-left: 10%;
	width: 90%;
}
.stamp_table th,td{
	text-align: center;
}
.stamp_table th{
	width: 200px;
	background-color: #90C8AC;
}
.stamp_table td{
	font-size: 20px;
	background-color: #F5F0BB;
}
.allStamps{
	display: flex;
}
.asTable{
	text-align: center;
}
.empName{
	font-weight: bold;
	color: #219F94;
}
.titles{
	font-weight: bold;
	font-size: 15px;
	color: #219F94;
}
.upper{
	display: flex;
	text-align: center;
	margin: 5% 10%;
	justify-content: space-around;
}
#stamp1,#stamp2, #stamp3{
	margin: 0px 15px;
}
.lower{
	display: flex;
	text-align: center;
	margin: 5% 10%;
	justify-content: space-around;
}